*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial;
}

body{
  background:#f5f5f5;
}

nav{
  background:#0b5e2e;
  color:white;
  display:flex;
  justify-content:space-between;
  padding:15px 20px;
  align-items:center;
}

.nav-left{
  display:flex;
  align-items:center;
  gap:10px;
}

.nav-left img{
  width:45px;
}

.nav-links a{
  color:white;
  margin-left:15px;
  text-decoration:none;
}

.menu-icon{
  display:none;
  font-size:25px;
}

.mobile-menu{
  display:none;
  flex-direction:column;
  background:#0b5e2e;
}

.mobile-menu a{
  color:white;
  padding:10px;
}

.hero{
  height:90vh;
  background:url("Hamdaan baground.jpg") center/cover no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
}

.hero-logo{
  width:100px;
}

.btn{
  padding:10px 20px;
  margin:5px;
  display:inline-block;
}

.btn-primary{
  background:gold;
}

.btn-secondary{
  border:1px solid white;
}

.section{
  padding:50px 20px;
  text-align:center;
}

.about-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

.about-grid img{
  width:100%;
}

.classes-wrapper{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

.class-box{
  background:white;
  padding:20px;
}

.features-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
}

.feature-card{
  background:white;
  padding:20px;
}

.contact-section{
  background:#0b5e2e;
  color:white;
}

footer{
  background:#222;
  color:white;
  text-align:center;
  padding:10px;
}

@media(max-width:768px){
  .nav-links{
    display:none;
  }

  .menu-icon{
    display:block;
  }

  .mobile-menu.show{
    display:flex;
  }

  .about-grid,
  .classes-wrapper,
  .features-grid{
    grid-template-columns:1fr;
  }
}
